@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  /* background-color: #1b1b1b; */
  /* color: #fff; */
}

.custom-font {
  font-family: 'Acme', sans-serif;
}

.custom-font-2 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}